@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-progress {
  animation: progress 2s ease-in-out forwards;
}
